/*CSS DOCUMENT*/

img {
    width: 90%;
    margin: 0.5em;
    align-content: center;
}

figure {
    margin: 0em 1.5em 0em 1.5em;
}
body {
    background-color: #fcf8e8;
    text-align: center;
}
div.container {
    text-align: center;
}

#logo {
    width: 10em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    padding: 0.8em;
    background-color: #c6802a;
    margin: 0.5em;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 1.5em;
    font-family: Gill Sans, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Gill Sans, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    font-family: Gill Sans, sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #729473;
}
h3 {
    font-family: Gill Sans, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

h4 {
    font-family: Gill Sans, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    text-align: center;
    padding-right: 2em;
    margin-bottom: 0.6em;
    margin-top: 1em;
}

p {
    font-family: Gill Sans, sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 2em;
    padding-right: 1em;
    margin-bottom: 0.7em;
    margin-top: 0.5em;
}

li {
    list-style-type: none;
}

footer {
    font-size: 0.5em;
}
