body {
background-color: rgb(64, 120, 120);
}

h1 {
  text-align: center;
color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

h3 {
  text-align: center;
  color: rgb(255, 255, 255);
}

h4 {
  text-align: center;
  color: rgb(255, 255, 255);
}

p {
  text-align: center;
  color: rgb(255, 255, 255);
}

ul {list-style: none;
}
