body {
background-color: rgb(255,255,255);
}

h1 {
  text-align: center;
color: rgb(64, 120, 120);
  font-size: 1em;
}

h2 {
  text-align: center;
  background-color: rgb(64, 120, 120);
  text-transform: uppercase;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

